<!DOCTYPE html>
<html lang="en">
<head>
  <title>Covid 19</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
  <link rel="stylesheet" href='./static/image.css'>
</head>
<body>



<nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li ><a href="/">Home</a></li>
        <li><a href="/Details of the Report">Details of the Report</a></li>
        <li ><a href="/analysis">Analysis and Visualization- World</a></li>
        <li class="active"><a href="/analysis_india">Analysis and Visualization- India</a></li>
        <li><a href="/report">Report</a></li>
        <li><a href="/conclusion">Conclusion</a></li>
      </ul>
    </div>
  </nav>

  <style> 
  p {
    margin-left: 2%;
        line-height: 1.5;
        text-align: justify;
        margin: 15px;
        font-size: 20px;
      }

      img {
        display: block;
        margin: 0 auto;
        width: 500px;
        height: 300px;
      }
      
      </style>
</body>
</html>

<html>
    <body>
        <h1> Analysis of Suicides in India</h1>
    </br> 


    <h2>Total number of suicide cases per year in India  </h2>
    <div class='container2'>
        <div class="left_image">
          <img src="./static/Total_suicides_per_year_bargraph.png">
        </div>
        <div class="right_image">
          <img src="./static/Total_suicides_per_year_linegraph.png">
        </div>
      </div>
      <p style="font-size:22px;
    font-weight: bold;
    font-style: oblique;">Inference:</p>
    <p> From the above analysis the total number of suicide cases are slightly increased from 2002 to 2011 but in 2012 decrease in number of total suicide cases is observed. Highest number of suicides happened in 2011 and least number of suicides happened in 2001.  </p>

    <p>.</p>
    <p>.</p>
<h2> Total number of suicides cases per each state in India.  </h2>
<img src="static/StatesvsTotalsuicides.png" style="width:800px;height: 500px;"> 
<p> From the above analysis it is evident that Maharashtra has a greater number of suicide cases than any other state in the country. Maharashtra, West Bengal, Tamil Nadu, Andhra Pradesh and Karnataka are the top five states in the country with a greater number of suicide cases. </p> 

    <p>   Mainly south Indian states have more cases than North Indian states. </p>
    
        <p>Least number of suicide cases from 2002 to 2012 are found in Lakshadweep with only 50 cases in entire 10 years period.  </p>

        <p>.</p>
        <p>.</p>
<h2> Total number of suicide cases by different causes  </h2>
<img src="static/Suicide by Causes.png" style="width:800px;height: 500px;"> 
<p> From the above analysis it is evident that there are 27 different causes which are leading to suicides.  </p>

<p>  Family Problems are the main cause for suicides and there are many suicides occurring for which reasons are not known. </p>
    
    <p> The number of suicides occurred due to not having children are less than any other cause. </p>

    <p>.</p>
<p>.</p>
<h2> Total number of suicide cases based on educational status.  </h2>
<img src="static/Suicide by Education_Status.png" style="width:800px;height: 500px;"> 
<p> In the above analysis educational status of a person is divided into 8 different categories. </p>

    <p> It is been evident that persons who are having least educational knowledge are more likely to commit suicide than persons who are well educated.  
    
        <p> Persons with Primary, Middle and No Education are mainly involved in suicides and those who are done with Post Graduation are less likely to commit suicide. </p>
    
    <p>From this a conclusion can be made that education can impact the mental health of person and helps a person to go in a good direction.  </p>
    <p>.</p>
    <p>.</p>

    <h2> Total number of suicide cases based on persons Professional Profile.   </h2>
<img src="static/Suicide by Professional_Profile.png" style="width:800px;height: 500px;"> 
<p> From the above analysis it is evident that most of the ones who committed suicide are house wives.  

    Agriculture is one the main occupations in India. Most of the persons who committed suicide belong to Farming and Agriculture activity.  
    
    Retired people are the one who are least involved in suicide.  </p>

    <p>.</p>
    <p>.</p>
    <h2>Total number of suicide cases based on persons Social Status. </h2>
    <div class='container2'>
      <div class="left_image">
        <img src="./static/Suicide by Social_Status.png">
      </div>
      <div   class="right_text" >
        <p class="small_heading">Inference:</p>
        <p> From the analysis it is evident that the one who committed suicide are married. 

            The one whose social status is widower/Widowed, Separated and divorced are involved lesser in suicides. </p>
      </div>
    </div>

    <p>.</p>
    <p>.</p>
    <h2>Total number of suicide cases based on age group  </h2>
    <div class='container2'>
      <div class="left_image">
        <img src="./static/Total_suicides_per_age_group.png">
      </div>
      <div   class="right_text" >
        <p class="small_heading">Inference:</p>
        <p>From the analysis it is evident that most of the suicides are in 15-29 and 30-44 age group. Those who are in 15-29 age group generally have less maturity and tend very easily to take decision and commit suicide.  

            The age group 30-44 may have problems related to finances, family problems, etc.  are mostly involved in suicides.  
            
            Age group 0-14 are the one who generally doesn’t have any problem and are less intended towards suicides.  </p>
      </div>
    </div>


    <p>.</p>
<p>.</p>
    <h2> Total number of suicides cases per each age group as well as in each year. </h2>
    <div class='container2'>
      <div class="left_image">
        <img src="./static/Total_suicides_per_year_agegroup.png">
      </div>
      <div   class="right_text" >
        <p class="small_heading">Inference:</p>
        <p>From the analysis it is evident that almost there is equal change in number of suicide cases per each year in every age group.  

            In all age group number of suicide cases have been increased almost each year from 2001 to 2011 and number of suicide cases decreased in 2012 in each age group.   </p>
      </div>
    </div>


    <p>.</p>
<p>.</p>
    <h2> Total number of suicide cases per each gender.  </h2>
    <div class='container2'>
      <div class="left_image">
        <img src="./static/Total_suicides_per_gender.png">
      </div>
      <div   class="right_text" >
        <p class="small_heading">Inference:</p>
        <p>From the analysis it is evident that mostly male are committing suicide than females.  

            66.7% of total suicides are done by males and 33.3% of total suicides are done by females.    </p>
      </div>
    </div>

    <p>.</p>
<p>.</p>
    <h2> Total number of male and female suicide cases per each year. </h2>
    <div class='container2'>
      <div class="left_image">
        <img src="./static/Total_suicides_per_year_and_gender.png">
      </div>
      <div   class="right_text" >
        <p class="small_heading">Inference:</p>
        <p>  From the analysis it is evident that there is slight change in female suicide cases each year from 2002 to 2012 whereas we can see that there is more change in male suicide cases each year from 2012 to 2012. 	   </p>
      </div>
    </div>

    <p>.</p>
<p>.</p>
    <h2> Total number of male and female suicide cases per each age group.  </h2>
    <div class='container2'>
      <div class="left_image">
        <img src="./static/Total_suicides_per_agegroup_and_gender.png">
      </div>
      <div   class="right_text" >
        <p class="small_heading">Inference:</p>
        <p> From the analysis it is been evident that males of 30-44 age group are mostly committing suicide and females of 15-29 age group are committing suicide.	   </p>
      </div>
    </div>
    <p>.</p>
    <p>.</p>
    <h2> Total number of male and female suicide per each type.   </h2>
    <img src="static/Total_suicides_per_gender_Causes.png" style="width:800px;height: 500px;"> 
<p> From the above analysis it is evident that both males and females are committing suicides due to family reasons only.  </p>
<img src="static/Total_suicides_per_gender_Education_Status.png" style="width:800px;height: 500px;"> 
<p> From the above bar graph, it is evident that most of the males who committed suicide are done with primary or middle education. Females who committed suicide are mostly with primary education or no education. </p>

<img src="static/Total_suicides_per_gender_Means_adopted.png" style="width:800px;height: 500px;"> 
<p> From the above bar graph, it is evident that both males and females are opting hanging for committing suicide. </p>

<img src="static/Total_suicides_per_gender_Professional_Profile.png" style="width:800px;height: 500px;"> 
<p> From the above bar graph, it is evident that the professional profile of most of the male who committed suicide is Farmers or agricultural workers and the highest female suicides are house wives. </p>


<img src="static/Total_suicides_per_gender_Social_Status.png" style="width:800px;height: 500px;"> 
<p> From the above bar graph, both males and females who committed suicide are married mostly. </p> 
<p>.</p>
<p>.</p>
<h2> Analysis of main causes of suicides in each age group.   </h2>
<img src="static/Total_suicides_per_suicide_reason_age_0-14.png" style="width:800px;height: 500px;"> 
<p> From the above graph it is evident that most of the reasons for committing suicide in 0-14 age group are	 unknown or due to failure in examination. Family problems, Prolonged illness and love affairs are also the main 	causes of suicides in this age. </p>


<img src="static/Total_suicides_per_suicide_reason_age_15-29.png" style="width:800px;height: 500px;"> 
<p> From the above graph it is evident that age group 15-29 are committing suicide mainly due to family problems, prolonged illness, love affairs, mental illness and many causes are not known</p>



<div class='container2'>
    <div class="left_image">
      <img src="./static/Total_suicides_per_suicide_reason_age_30-44.png">
    </div>
    <div class="right_image">
      <img src="./static/Total_suicides_per_suicide_reason_age_45-59.png" style="float:center">
    </div>
  </div>

  <img src="./static/Total_suicides_per_suicide_reason_age_60+.png">
<p> From the above graphs it is evident that 30-44, 45-59 and 60+ age groups committed suicides mainly due to family problems, prolonged illness, mental illness, bankruptcy and unknown reasons. </p>

<p>.</p>
<p>.</p>
<h2> Analysis of main methods used for suicides in each age group</h2>

<img src="static/Total_suicides_per_suicide_method_age_0-14.png" style="float:left">
<img src="static/Total_suicides_per_suicide_method_age_15-29.png" style="float:center">

<img src="static/Total_suicides_per_suicide_method_age_30-44.png" style="float:left">
<img src="static/Total_suicides_per_suicide_method_age_45-59.png" style="float:center">

<img src="static/Total_suicides_per_suicide_method_age_60+.png" style="float:center">
<p> From the above analysis,  </p>

    <p>   The most frequent method opted for committing suicide is by hanging in India from 2002 to 2012. This is the method used by every age group.  </p>
    
        <p>   The common methods for committing suicides in every age group are hanging, Consuming insecticides, consuming poison, by fire or self-immolation.  </p>
    
    <p>    0-14 and 60+ age group also committed suicide by drowning.   </p>
    
        <p> If government takes appropriate measures, then suicides can be controlled. It can decrease the availability of insecticides, poisons in the market which are leading to suicides. </p> 
    
            <p>  Government can also appoint people near water bodies who can stop people committing suicide by drowning.  </p>
    
        <p> Hanging can be reduced by family care and medication of depression. </p>


        <p>.</p>
        <p>.</p>
<h2>Analysis of role of unemployment in number of suicides.</h2>
<img src="static/Total_suicides_per_age_group_Unemployment.png" style="width: 800px;height:400px">
<p style="font-size:22px;
font-weight: bold;
font-style: oblique;">Inference:</p>

<p> From the above analysis it is evident that,  </p>

    <p> The highest number of suicides due to unemployment is been observed in 15-29 age group. This is the age where all try to begin their career with high expectations and due to reasons like lack of openings, high competition, increase of population, etc. They may not achieve their goals and try to end their lives by committing suicides. </p>
    
        <p>More number of suicides due to unemployment is been observed in 30-44 and 45-59 age group also. These are the one who may have lost their jobs due to high availability of young employees or any crisis that occurred like covid 19.  </p>
    
            <p>Least number of suicides due to unemployment is been observed in 0-14 years as it is the age of studying rather than working for livelihood.  </p>
</p>


<p>.</p>
<p>.</p>
<h2>Analysis of effect of love affairs in number of suicides. </h2>
<img src="static/Total_suicides_per_age_group_Love_Affairs.png" style="width: 800px;height:400px">
<p style="font-size:22px;
font-weight: bold;
font-style: oblique;">Inference:</p>
<p> From the above analysis it is evident that,  

    The highest number of suicide cases due to love affairs happened in 15-29 age group. Love failures leads to suicides and being close to those people during that time may help them into recovery and lead a happy life.  
    
    Age group 30-44 also committed suicide due to love affairs.  
    
    There is very little cases observed in 0-14 and 60+ age groups due to love affairs. </p>
    <p>.</p>
    <p>.</p>
<h2> Total number of suicides by hanging vs total number of suicides year wise.  </h2>


<img src="static/pr.png" style="float:left">
<img src="static/prl.png" style="float:center">
<p> Points are scattered on the graph and polynomial regression line is been fitted to know the relationship between the number of suicides by hanging to total number of suicides in the country. The r square value obtained is 0.9649. </p>

    <p style="font-size:22px;
    font-weight: bold;
    font-style: oblique;">Inference:</p>
<p>Dependent variable: Number of suicides by hanging  </p>
    
<p> Independent variable: Total number of suicides </p>
    
<p>Polynomial regression technique is applied on number of suicides by hanging and total number of suicides in India. </p>
    
<p>The r2 square obtained is 0.9649 which is close to 1 which implies that there is appreciable relation. </p>




