<!DOCTYPE html>
<html lang="en">
<head>
  <title>Suicide</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
  <link rel="stylesheet" href='./static/image.css'>
</head>
<body>



<nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li ><a href="/">Home</a></li>
        <li><a href="/Details of the Report">Details of the Report</a></li>
        <li class="active"><a href="/analysis">Analysis and Visualization- World</a></li>
        <li ><a href="/analysis_india">Analysis and Visualization- India</a></li>
        <li><a href="/report">Report</a></li>
        <li><a href="/conclusion">Conclusion</a></li>
      </ul>
    </div>
  </nav>

  <style> 
  p {
    margin-left: 2%;
        line-height: 1.5;
        text-align: justify;
        margin: 15px;
        font-size: 20px;
      }

      img {
        display: block;
        margin: 0 auto;
        width: 500px;
        height: 300px;
      }
      
      </style>
<html>
    <body>
        <h1> Analysis of Suicides in World</h1>
    </br> 
    
    <h2> Number of suicides in each year:</h2>
    <div class='container2'>
      <div class="left_image">
        <img src="./static/world/World_total_suicides_per_year.png">
      </div>
      <div   class="right_text" >
        <p>
          Suicides is an emerging health issue and number of suicides occurring per year have to be known for planning accordingly. 
        </p>
        <p class="small_heading">Inference:</p>
        <p>From the above analysis it is evident that the total number of suicides have been increased in the period 1988 – 2002 but after 2002 we can see there is a decrease in the total number of suicide cases in the world. Proper prevention measures can decrease the total suicide count in further years.   </p>
      </div>
    </div>
  
<p>.</p>
<p>.</p>
    <h2> Top ten and least ten countries in total number of suicides from 1986 to 2015  </h2>
    </br>
      <div class='container2'>
        <div class="left_image">
          <img src="./static/world/World_top10countries_in_suicides.png">
        </div>
        <div   class="right_text" >
          <p class="small_heading">Inference:</p>
          <p>From the above analysis it is evident that total number of suicides are highest in Russian Federation and United States of America. This may be due to various causes like improper treatments, health care and stress levels.   </p>
        </div>
      </div>

      <div class='container2'>
        <div class="left_image">
          <img src="./static/world/World_least10countries_in_suicides.png">
        </div>
        <div   class="right_text" >
          <p class="small_heading">Inference:</p>
          <p>From the above analysis it is evident that total number of suicides are least in Montserrat, Maldives. This may be due to better well-being of the people without any mental illness.   </p>
        </div>
      </div>
  
      <p>.</p>
      <p>.</p>

<h2> Total number of suicides in the world with respect to gender:</h2>
<div class='container2'>
  <div class="left_image">
    <img src="./static/world/World_gender_suicides.png">
  </div>
  <div   class="right_text" >
    <p class="small_heading">Inference:</p>
    <p>From the above analysis it is clear that mostly males are committing suicides than females. 76% of the suicides are done by males itself and female only 24%. Males die by suicide three to four times more often than do females. While women more often have suicidal thoughts, men die by suicide more frequently. This is also known as the gender paradox in suicide.  </p>
  </div>
</div>

<p>.</p>
<p>.</p>
<h2> Top ten countries in male and female suicides:</h2> 
<div class='container2'>
  <div class="left_image">
    <img src="./static/world/top10_countries_male_suicides.png">
  </div>
  <div class="right_image">
    <img src="./static/world/top10_countries_female_suicides.png">
  </div>
</div>
    <p style="font-size:22px;
    font-weight: bold;
    font-style: oblique;">Inference:</p>
    <p> The countries which are having highest number of male suicides are Rusia and Unites States of America. The males in those countries are maybe having problems related to Unemployment, bullying, imprisonment, divorce, love affairs, etc.  

      The countries which are having highest number of female suicides are Japan and Russia. The reason for most female suicides maybe Love affairs, physical or sexual abuse, harassing, Housewife problems, etc. These countries may not have strict laws on actions done against female which result in increase of crimes against females and then lead to suicides.  </p>
 
      <p>.</p>
<p>.</p>

      <h2> Total number of suicides occurred in the world based on age group:</h2>
      <div class='container2'>
        <div class="left_image">
          <img src="./static/world/world_suicides_withrespect_to_age.png">
        </div>
        <div   class="right_text" >
          <p class="small_heading">Inference:</p>
          <p>From the above analysis we can observe that most of the suicides in the world from 1986 to 2015 occurred within 35-44 age group which accounts 35.53% of the total suicides.  

            Age group 55-74 also accounted 31.2% of total suicides. Mainly adults are involved in suicides than other age groups.  
            
            15-24 years age group accounts 15.7% of total suicides and the main reasons for this is lack of maturity and reacting to small incidents in a larger view. 
            
            75+ years age group accounts 12% of total suicides. 
            
            The least number of suicides can be seen in 05- 14 years age group as they generally don’t have any maturity and they don’t have any problems at that age.  </p>
        </div>
      </div>

      <p>.</p>
<p>.</p>

      <h2> Comparison of total number of suicides age wise in Russia and United States of America in 2015.  :</h2>
      <div class='container2'>
        <div class="left_image">
          <img src="./static/world/world_comparisions_usa_russia.png">
        </div>
        <div   class="right_text" >
          <p class="small_heading">Inference:</p>
          <p>In both the countries almost, same trends are present with highest number of suicides in 35-54 years age group.  

            In Russia second largest number of suicides in 2015 happened in 25-34 years age group but in USA second largest number of suicides are in 55-74 years age group.  
            
            Based on this the above said inference on age groups can be applied to various countries and there may be slight changes observed but not a bulk change. </p>
        </div>
      </div>

    
      <p>.</p>
      <p>.</p>

<h2> Analysis of suicide rate in the first two decades1986-1995 vs 1995-2005</h2>
<p> In this analysis suicide rates of countries are been considered in 1986-1996 and 1995-2005. Only the countries with at least five years in a decade are considered. </p>

  <p> The median rate from the years has been considered as this can help to protect the data from any noises if present.  </p>
  
    <p> The difference between the suicide rate in 1986-1995 and 1996-2005 is been calculated for each country over each age group. </p> 
  
      <p>  The difference is been capped at +/-20 per 100k population.  </p>
  
        <p>  Analysis is done based on the suicide rate difference. </p>

<img src="static/world/World_suicides_deacde_1986-1995_and_1996-2005.png" style="width: 1200px;
height: 700px;">
<p style="font-size:22px;
font-weight: bold;
font-style: oblique;">Inference:</p>
<p> From the above analysis, it is clear that there is no clear trend observed in all the younger age groups. 

  Mostly we can observe that there is little more density below zero which means that the suicide rate is a bit more in the past decade I.e., in 1986-1995.  
  
  35-54, 55-74 and 75+ age groups have a greater change compared to previous decade.  
  
  Entire analysis of all age groups tells that there is decrease in the suicide rate from 1986-1995 to 1996-2005.  
  
   </p>


   <p>.</p>
   <p>.</p>
  <h2> Analysis of suicide rate in the first two decades 1996-2005 vs 2006-2015:</h2>
  <img src="static/world/World_suicides_deacde_1996-2005_and_2005-2015.png" style="width: 1200px;
height: 700px;">
<p style="font-size:22px;
font-weight: bold;
font-style: oblique;">Inference:</p>
<p> During the 2006-2015 decade, there is decrease in the suicide rates compared to the previous decade 1996-2005.  

  The vast majority of the dots are either near zero meaning no change or below zero meaning fewer deaths per capita than in the previous decade.   </p>


  





























































   
 
 
 
    </body>
</html>
