<!DOCTYPE html>
<html lang="en">
<head>
  <title>Suicide</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
  <link rel="stylesheet" href='./static/image.css'>
</head>
<body>



<nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li ><a href="/">Home</a></li>
        <li><a href="/Details of the Report">Details of the Report</a></li>
        <li ><a href="/analysis">Analysis and Visualization- World</a></li>
        <li ><a href="/analysis_india">Analysis and Visualization- India</a></li>
        <li><a href="/report">Report</a></li>
        <li class="active"><a href="/conclusion">Conclusion</a></li>
      </ul>
    </div>
  </nav>

  <style> 
  h1,p{
    margin-left: 3%;
    margin-right: 3%;
    line-height: 1.5;
        text-align: justify;
        margin: 20px;
  }
  p{
    font-size: 17px;
  }
</style>
<html> 
    <body> 
        <h2> CONCLUSION </h2>
        <p>Suicide is a serious public health problem; however, suicides are preventable with timely, evidence-based and often low-cost interventions. </p>

 

        <p> Number of suicide cases with respect to population have been decreasing in the world from the past two decades and there may be still hope of decrease in the cases in the future. </p>
            
             
            
            <p>  Knowledge of the most commonly used suicide methods is important to devise prevention strategies which have shown to be effective, such as restriction of access to means of suicide. </p>
            
             
            
                <p>   The number of suicide cases can be controlled by controlling the access to the means of suicide.  </p>
            
             
            
                    <p> Suicide prevention efforts require coordination and collaboration among multiple sectors of society, including the health sector and other sectors such as education, labor, agriculture, business, justice, law, defense, politics, and the media. </p>
    </body>
</html>
