<!DOCTYPE html>
<html lang="en">
<head>
  <title>Suicide</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>



<nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/Details of the Report">Details of the Report</a></li>
        <li><a href="/analysis">Analysis and Visualization- World</a></li>
        <li ><a href="/analysis_india">Analysis and Visualization- India</a></li>
        <li><a href="/report">Report</a></li>
        <li><a href="/conclusion">Conclusion</a></li>
      </ul>
    </div>
  </nav>
<style>
  h1,h2{
    margin-left: 3%;
    margin-right: 3%;
    line-height: 1.5;
        text-align: justify;
        margin: 15px;
  }
  p{
    margin-left: 4%;
    margin-right: 3%;
    line-height: 1.5;
        text-align: justify;
        margin: 15px;
        font-size: 17px;
      
  }
 
</style>
<h2>ABSTRACT</h2>
<p> Every year 8,00,000 people take their own life (one deaths per every 40 seconds) and there are many more people who attempt suicide. Every suicide is a tragedy that affects families, communities and entire countries and has long-lasting effects on the people left behind. Suicide is an emerging and serious health issue. There may be many causes which are leading a person to commit suicide. Analysis of the number of suicides, causes of suicides, methods used for suicides are required for preventing them. In this report a detailed analysis is done on suicides occurred in the world and as well as in India.  </p>

<h2> Data Collection - World data</h2>
<p>The analysis is based on a dataset collected from <a href="https://www.kaggle.com/">www.kaggle.com</a>. These datasets provide information about the suicides data in the world from 1986 to 2015. </p> 


<h2> Data Collection - Indian data</h2>
<p>The analysis is based on a dataset collected from <a href="https://www.kaggle.com/">www.kaggle.com</a>. This dataset provides information about the total number of suicides in India, reasons and methods used for suicides from 2002 to 2012. </p> 
<p>
  Data consists of information about State, Year, Type_code, Type, Gender, Age_group and Total.  </br>

State: Describes the state name  </br>

Year: Year  </br>

Type_code: Describes the information and reason of the incident  </br></p>
<p style="padding-left: 3%;">
‘Causes’ - The reason of the suicide  </br>

‘Means_Adopted’- Way adopted for committing suicide. </br>

‘Educational_status’- Educational status of the person committed suicide.  </br>

‘Professional Profile’ and ‘Social_status’  </br></p>

<p>Type:  </p>

<p style="padding-left: 3%;">1. Causes: Family Problems, Prolonged Illness, Insanity/Mental Illness, Love Affairs, Bankruptcy or sudden change in Economics, Poverty, Dowry dispute, Drug Abuse/Addiction, Unemployment, Failure in Examination, Property Dispute, Suspected/Illicit Relation, Fall in Social Reputation, Professional/Carrer Problem, Cancellation/Non-Settlement of Marriage, Death of Dear Person, Cancer, Illness (Aids/STD), Not having Children/Impotency, Paralysis, Divorce, Physical Abuse, Illegitimate Pregnancy, Ideological Causes/Hero Worshipping, Not having children.  </br>

2. Means_Adopted: Hanging, Consuming Insecticides, Consuming Poison, By Fire/Self Immolation, Drowning, coming under running vehicles/trains, Over Alcoholism, touching electrical wires, Overdose of sleeping pills, jumping from sites, Jumping of moving vehicles/Trains, fire arms, self-infliction of injury, machine.  </br>

3. Educational_Status: No education, Primary, Middle, Matriculate/Secondary, Hr. Secondary/Intermediate/Pre-University, Diploma, Graduate, Post-Graduate and Above.  </br>

4. Professional Profile: House Wife, Agricultural/Farming activity, Service (Private), Service (Government), Self-Employed (Business activity), Student, Professional Activity, Public sector undertaking, Retired person, Unemployed.  </br>

5. Social_status: Married, Never Married, Widowed/Widower, Separated, Divorce.  
</br></p><p>
Gender: Male, Female  </br>

Age_Group: 0-14, 15-29, 30-44, 45-59, 60+ </br>

Total- Describes total number of suicides. </br>
</p>
<h2> Approach</h2>
<p>    The various python libraries such as NumPy, pandas, Matplotlib are used for the purpose of mathematical calculations, extraction of data and visualization respectively.  </p>

 <p>  The extracted dataset was found to have null values which are then effectively handled to achieve accurate analysis rather than removing them from the dataset.  </p>
