
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>



<nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="/Details of the Report">Details of the Report</a></li>
        <li><a href="/analysis">Analysis and Visualization</a></li>
        <li><a href="/report">Report</a></li>
      </ul>
    </div>
  </nav>
<h2>ABSTRACT</h2>
<p> Mortality defines `to be in the state of being prone to death'. The mortality rate is the measure of the frequency of occurrence of death in a defined population during a specified interval. There are many reasons for the occurrences of death and analysis of the reasons is very important for a better survival of human. In this report death mortality rate of the world from 1990 to 2017 analysis is done on various factors which are the causes of death and how those factors are inter-related to each other.  </p>


<h2> DATA COLLECTION</h2>
<p>The analysis is based on a dataset collected from www.kaggle.com . The dataset provides information about the world death analysis from 1990 to 2017. It consists of the number of deaths caused by different factors.  </p> 

<h2> APPROACH </h2>
<p> The various python libraries such as NumPy, pandas, Matplotlib are used for the purpose of mathematical calculations, extraction of data and visualization respectively.  </p>

 <p>   The extracted dataset was found to have null values which are then effectively handled to achieve accurate analysis rather than removing them from the dataset.  </p>